<div
  class="clock-text"
  [ngStyle]="{
    color: settingsService.fontColor,
    'text-align': settingsService.textAlignment,
    'font-size': settingsService.fontSize + 'px',
  }"
  [@fadeAnimation]="animationToggle"
  (@fadeAnimation.done)="animationToggle = false">
  <span>It's </span>
  @if (this.wordTime.preposition) {
    <span>{{ this.wordTime.preposition }}</span>
  }
  @if (this.wordTime.minute) {
    <span><br />{{ this.wordTime.minute }}</span>
  }
  @if (this.wordTime.hour) {
    <span><br />{{ this.wordTime.hour }}</span>
  }
  @if (this.wordTime.period && this.settingsService.timePeriodEnabled) {
    <span><br />{{ this.wordTime.period }}</span>
  }
  @if (this.wordTime.weekDay && this.settingsService.weekDayEnabled) {
    <span><br />on {{ this.wordTime.weekDay }}</span>
  }
  <span>.</span>
</div>
