<div class="clock-text" [ngStyle]="{'color': settingsService.getFontColor(), 'text-align' : settingsService.getTextAlignment()}">
  <span>It's </span>
  <span *ngIf="this.wordTime.preposition">{{this.wordTime.preposition}}</span>
  <span *ngIf="this.wordTime.minute"><br />{{this.wordTime.minute}}</span>
  <span *ngIf="this.wordTime.hour"><br />{{this.wordTime.hour}}</span>
  <span
    *ngIf="this.wordTime.period && this.settingsService.getTimePeriodEnabled()"><br />{{this.wordTime.period}}</span>
  <span>.</span>
</div>