<div
  class="clock-text"
  [ngStyle]="{
    color: settingsService.fontColor,
    'text-align': settingsService.textAlignment,
    'font-size': settingsService.fontSize + 'px',
  }"
  [animate.enter]="triggerFade">
  @if (wordTime(); as wordTime) {
    <span>It's</span>
    @if (wordTime.preposition) {
      <span>{{ wordTime.preposition }}</span>
    }
    @if (wordTime.minute) {
      <span>
        <br />
        {{ wordTime.minute }}
      </span>
    }
    @if (wordTime.hour) {
      <span>
        <br />
        {{ wordTime.hour }}
      </span>
    }
    @if (wordTime.period && settingsService.timePeriodEnabled) {
      <span>
        <br />
        {{ wordTime.period }}
      </span>
    }
    @if (wordTime.weekDay && this.settingsService.weekDayEnabled) {
      <span>
        <br />
        on {{ wordTime.weekDay }}
      </span>
    }
    <span>.</span>
  }
</div>
