@import url('https://fonts.googleapis.com/css?family=Product+Sans');

.clock-text {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Product Sans', Helvetica, Arial, sans-serif;
  line-height: normal;
  margin: 10%;
  opacity: 1;
  transition: opacity 1000ms ease-in-out;

  @starting-style {
    opacity: 0;
  }
}

.fade-in-active {
  opacity: 1;
}

.fade-out-active {
  opacity: 0;
}