@import url('https://fonts.googleapis.com/css?family=Product+Sans');

.clock-text {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Product Sans', Helvetica, Arial, sans-serif;
  line-height: normal;
  margin: 10%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in-animation {
  animation: fadeIn 1000ms ease-in forwards;
}